<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mainpage.css" />
    <title>Shop-app</title>

</head>
<body>

<div class="grid-container">
    <header class="header">
        <div class="brands">
        <a href="./mainpage.html">GW Donut</a>    
        </div>
        <div>
            <a href="./cart.html" class="header-element">Cart</a>
            <a href="./signin.html" class="header-element">Sigin</a>
            </div>     
    </header>

    <main class="main">

        <div class="container">
            <ul class="products-lists">
                <li>
                    <div class="product">
                        <img class="product-image" src="./images/donut.jpg" alt="product">
                        <div class="product-details">
                            <div class="product-name"><a href="./product.html"> Chocolate Donut </a></div>
                            <div class="product-details"> Choco hot coca flavour</div>
                            <div class="price">$60</div>
                            <div class="quantity">1 piece (200g)</div>
                        </div>
                    </div>
                </li>  
                 <li>
                    <div class="product">
                        <img class="product-image" src="./images/donut.jpg" alt="product">
                        <div class="product-details">
                            <div class="product-name"><a href="./product.html"> Chocolate Donut </a></div>
                            <div class="product-details"> Choco hot coca flavour</div>
                            <div class="price">$60</div>
                            <div class="quantity">1 piece (200g)</div>
                        </div>
                    </div>
                </li>   
            </ul>
        </div>

    </main>

    <footer class="footer"> All rights reserved </footer>

</div>

</body>
</html>
